<ion-nav-view style="background: #e5efc1 ;
 background: -webkit-linear-gradient(#e5efc1 , #a2d5ab , #39aea9 );
 background: -o-linear-gradient(#e5efc1 , #a2d5ab , #39aea9 );
 background: -moz-linear-gradient(#e5efc1 , #a2d5ab , #39aea9 );
 background: linear-gradient(#e5efc1 , #a2d5ab , #39aea9 );">
    <ion-content>
        <div class="container" style="padding-left:20px; padding-right:20px;">
            <div class="list" style="text-align:center;">
                <!-- <h1 style="margin-top:15%; text-align:center; color:#ee6e73; font-family:Diamonds-Bold; font-size:50px;"> -->
                <h1 style="margin-top:15%; text-align:center; color:#805fce; font-family:Diamonds-Bold; font-size:50px;">
                    Cart
                </h1>
                <div class="item-input-inset" style="margin-top:12%; display: block;">
                    <label class="item-input-wrapper">
                        <input ng-model="main.loginUser.username" type="text" placeholder="Username">
                    </label>
                    <br>
                    <label class="item-input-wrapper">
                        <input ng-model="main.loginUser.password" type="password" placeholder="Password">
                    </label>
                    <br>
                    <button ui-sref="tab.profile-user({user: main.currentUserId})" class="button button-outline button-block button-royal" ng-click="main.login()" style="margin:0;">
                        Login
                    </button>
                    <button nav-direction="swap" style="margin-top:10px; margin-left:0px; color:white;" class="button button-clear button-dark" ui-sref="register">
                        Or Sign Up
                    </button>
                </div>
            </div>
            <img src="img/preloader3.svg" style="height:18%; margin-left: 26%; margin-top: 25%;"/>
        </div>
    </ion-content>
</ion-nav-view>
