<!-- <ion-view view-title="signup-detail">
  <div class="bar bar-header bar-stable">
    <h1 class="title">Cart</h1>
  </div>
  <ion-content>
    <form ng-submit="main.register()">
      <div class="list" style="top: 44px;">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Create a Username</span>
          <input ng-model="main.newUser.username" type="text" placeholder="username">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Create a password</span>
          <input ng-model="main.newUser.password" type="text" placeholder="Password">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input ng-model="main.newUser.email" type="text" placeholder="Email">
        </label>
        <button class="col button-positive" type="submit">Create Account!</button>

        <a nav-direction="swap" style="margin-top: 10px;" class="col col-50 col-offset-25 button button-balanced" ui-sref="login">Or Log In</a>
      </div>
    </form>
  </ion-content>
</ion-view> -->

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<ion-nav-view style="background: #e5efc1 ;
 background: -webkit-linear-gradient(#e5efc1 , #a2d5ab , #39aea9 );
 background: -o-linear-gradient(#e5efc1 , #a2d5ab , #39aea9 );
 background: -moz-linear-gradient(#e5efc1 , #a2d5ab , #39aea9 );
 background: linear-gradient(#e5efc1 , #a2d5ab , #39aea9 );">
    <ion-content>
        <div class="container" style="padding-left:20px; padding-right:20px;">
            <div class="list" style="text-align:center;">
                <!-- <h1 style="margin-top:15%; text-align:center; color:#ee6e73; font-family:Diamonds-Bold; font-size:50px;"> -->
                <h1 style="margin-top:15%; text-align:center; color:#805fce; font-family:Diamonds-Bold; font-size:50px;">
                    Cart.
                </h1>
                <div class="item-input-inset" style="margin-top:12%; display: block;">
                    <label class="item-input-wrapper">
                        <input ng-model="main.newUser.username" type="text" placeholder="Create a USERNAME">
                    </label>
                    <br>
                    <label class="item-input-wrapper">
                        <input ng-model="main.newUser.email" type="email" placeholder="EMAIL">
                    </label>
                    <br>
                    <label class="item-input-wrapper">
                        <input ng-model="main.newUser.password" type="password" placeholder="Create a PASSWORD">
                    </label>
                    <br>
                    <button ui-sref="tab.profile-user({user: main.currentUserId})" class="button button-outline button-block button-royal" ng-click="main.register()" style="margin:0;">
                        Login
                    </button>
                    <button nav-direction="swap" style="margin-top:10px; margin-left:0px; color:white;" class="button button-clear button-dark" ui-sref="login">
                        Or Log In
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-nav-view>
