<ion-view view-title="signup-detail">
  <div class="bar bar-header bar-stable">
    <h1 class="title">Cart</h1>
  </div>
  <ion-content>
    <form ng-submit="main.register()">
      <div class="list" style="top: 44px;">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Create a Username</span>
          <input ng-model="main.newUser.username" type="text" placeholder="username">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Create a password</span>
          <input ng-model="main.newUser.password" type="text" placeholder="Password">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input ng-model="main.newUser.email" type="text" placeholder="Email">
        </label>
        <button class="col button button-positive" type="submit">Create Account!</button>
        <a nav-direction="swap" style="margin-top: 10px;" class="col col-50 col-offset-25 button button-balanced" ui-sref="login">Or Log In</a>
      </div>
    </form>
  </ion-content>
</ion-view>
