<ion-view view-title="Search">
  <ion-content>
    <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input class="theme" type="search" ng-model="filterSearch">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>

    <h1>All Catagories</h1>
    <div ng-repeat="c in sc.allCatagories">
      <div>{{c.name}}</div>
    </div>

    <h1>All Products</h1>
    <div>
    Sort By:
    <select ng-model="productOrder">
      <option value="name">Name</option>
      <option value="price">Price</option>
    </select>
    </div>
    <div>
      <ul>
        <li ng-repeat="p in sc.allProducts | orderBy: productOrder | filter: filterSearch ">
          {{p.name}} {{p.description}} {{p.price}}
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
