<ion-view view-title="Profile">
  <ion-content>
    <h1>{{ pc.user.username }}</h1>
    <h2>{{ pc.user.email }}</h2>
    <div>Followers: {{ pc.user.followers.length }}</div>
    <div>Following: {{ pc.user.following.length }} </div>
    <div>Liked Products: {{ pc.user.liked_products.length }} </div>
    <a class="button button-assertive" ui-sref="login" ng-click="main.logout()">Logout</a>
  </ion-content>
<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>

</ion-nav-back-button>
</ion-nav-bar>
</ion-view>
