<ion-view view-title="Home">
  <ion-content ng-controller="PostCtrl">
    <div ng-repeat="p in hc.productsArray" class="list card">


  <div class="item item-avatar">
    <img style="height: 50px; width: 50px;" src="">
    <h2>{{p._creator.username}}</h2>
    <p style="font-size: 11px;">April 08, 2016</p>
  </div>


    <div class="item item-body">
        <ion-slide-box pager-click="hc.navSlide(index)">
            <!-- <ion-slide ng-repeat="product in product.photos"> -->
            <ion-slide>
                <div class="item item-image">
                    <img src="http://4.bp.blogspot.com/-M_UXW4lB4kU/U8PUp2uyK-I/AAAAAAAAAb8/LlOZ0dPih1c/s1600/ALbzZpb.png"/>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="item item-image">
                    <img src="http://3.bp.blogspot.com/-iJXYwpnPvLE/U8PUuaSyNiI/AAAAAAAAAco/PfVMe5QfaLg/s1600/miku_square_face__by_scgm-d5zy1ch.png"/>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="item item-image">
                    <img src="http://1.bp.blogspot.com/-F6KUCpe1kiE/U8PUyI4jtzI/AAAAAAAAAc8/jzDrEGOS5xI/s1600/rin_square_face__by_scgm-d60i0hd.png"/>
                </div>
            </ion-slide>
        </ion-slide-box>


       <!-- <img style="width: 100%"    src="http://www.valsurf.com/images/P/la-surf-fitted-dodger-bl-19966-888p.jpg">
        <img style="width: 100%" src="http://www.valsurf.com/images/D/la-surf-fitted-dodger-bl-19966-399d.jpg">
        <img style="width: 100%" src="http://www.strictlyfitteds.com/sites/default/files/la-dodgers-opening-day-59fifty-fitted-cap-mlb-new-era_3.jpg"> -->


    <h2>{{p.name}}</h2>
    <p>{{p.description}}
    </p>
    <p>
      <a href="#" class="subdued">{{p.likes.length}} Like</a>
      <a href="#" class="subdued">{{p.comments.length}} Comments</a>
    </p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
       <a ng-click="hc.liked(p._id)" class="tab-item" href="#">
           <i class="icon ion-heart"></i> Like
       </a>
       <a class="tab-item" href="#">
           <i class="icon ion-chatbox"></i> Comment
       </a>
       <a class="tab-item" href="#">
           <i class="icon ion-ios-cart"></i> Cart It!
       </a>
   </div>
</div>

</ion-content>
<ion-nav-bar class="bar-stable">
<ion-nav-back-button>
</ion-nav-back-button>
</ion-nav-bar>
</ion-view>
