/* Empty. Add your own CSS if you like */

@font-face {
    font-family: 'Diamonds';
    src: url('../fonts/Diamonds-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
   font-family: 'Diamonds-Bold';
   src: url('../fonts/Diamonds-Bold.ttf') format('truetype');
   font-weight: normal;
   font-style: oblique;;
}

p {
    margin: 0 auto;
}
h6 {
    margin: 0 auto;
}
h1 {
    font-family: Diamonds;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.5;
}
/*---TABS-ICONS------------------------*/
.tab-nav {
  height: 35px;
  background: rgb(33, 33, 33);
}
ion-tabs.tabs-color-active-positive .tab-item {
  color: #878787;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated  {
  color: white;
  background: black;
}
.tabs .tab-item .icon.icon-shopping-cart {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 80%;
  margin-top: 1.5px;
  margin-left: 5px;
  background-image: url('../img/cart-icon-active.png');
  background-size: contain;
}
.tabs .tab-item .icon.icon-profile {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 80%;
  margin-top: 1.5px;
  background-image: url('../img/profile-icon-active.png');
  background-size: contain;
}
/*--------------------------------------*/

/*---NAVBAR-----------------------------*/
.bar.bar-stable {
  background: #e5efc1 ; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( #a3d3c7, #39aea9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #a3d3c7, #39aea9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #a3d3c7, #39aea9); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #a3d3c7, #39aea9); /* Standard syntax (must be last) */
}
.bar.bar-stable .title {
  color: white;
  font-family: Diamonds;
  font-weight: bold;
  font-size: 18px;
  line-height: 38px;
}
.theme {
   background: #39AEA9;
}
.bar .button.button-clear {
  color: white;
  font-family: Diamonds;
  /*src: url(./fonts/Diamonds Bold.ttf) format("truetype");*/
  font-weight: bold;
  font-size: 15px;
}
.bar {
  background: #e5efc1 ; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( #a3d3c7, #39aea9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #a3d3c7, #39aea9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #a3d3c7, #39aea9); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #a3d3c7, #39aea9); /* Standard syntax (must be last) */
}
/*--------------------------------------*/

/*---HOME--------------------------------*/
/*div.item.item-avatar {
    min-height: 55px;
}*/
ion-slide img {
    width: 100%;
    height: auto;
}
.slider {
    height: 100%;
    text-align: center
}
.scroll {
    height: 100%
}
div.slider-slides {
    width: 100%;
    height: auto;
}
/*.color-yellow {
    background-color: #e5efc1;
    width: 100%;
    height: 100%;

}
.color-green {
    background-color: #a2d5ab;
    width: 100%;
    height: 100%;
}
.color-teal {
    background-color: #39aea9;
    width: 100%;
    height: 100%;
}*/
/*.icon-share {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 85%;
    background-image: url('../img/cart-icon-active.png');
    background-size: contain;
}*/
/*--------------------------------------*/

/*---SEARCH-----------------------------*/
.profile img {
    float: left;
    border: 1.5px solid #fff;
    /*width: 30%;
    height: 10%;*/
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
}
.profile img:hover {
    -webkit-box-shadow: 0px 0px 7px rgba(255, 255, 255,
    0.9);
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.9);
}

/*---PROFILE------------------------------*/
.avatar {
    text-align: center;
    float: left;
}
.div-stats {
    text-align: center;
    /*width: 80px;*/
    position: absolute;
    right: 25px;
    top: 20px;
    display: flex;
}
.p-stats {
    margin-left: 20px;
}
.store-descr {
    width: 92%;
    height: 35%;
    position: absolute;
    margin-top: 125px;
    float: left;
    padding: 8px;
    border: solid 2px lightgrey;
    border-radius: 8px;
}
.tabs-striped .tabs-top .tabs-icon-top .tabs-color-light {
    font-size: 25px;
}
.tabs-top > .tabs, .tabs.tabs-top {
    padding-top: 2px;
}
.tab-items {
    position: relative;
    display: block;
    margin-top: -10%;
}
i.icon.ion-grid, i.icon.ion-pricetag, i.icon.ion-bag {
    font-size: 20px;
    height: 25px;
    line-height: 30px;
}
.ul-profile {
    width: 100%;
    /*height: 30%;*/
    /*margin-bottom: 50%;*/
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.p-photos {
    margin-top: 25.5%;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated  {
    color: white;
    background: black;
}
.tabs-striped.tabs-color-light .tab-item {
    color: #39aea9;
}
ion-item.item.item-complex {
    border-color: white;
}
.item-complex .item-content, .item-radio .item-content {
    padding: 0;
}
.button.button-positive {
    position: absolute;
    right: 37px;
    top: 75px;
    padding: 0px 60px 0px 60px;
    border-radius: 8px;
    background: #878787;
    color: white;
}
.button.button-positive.activated {
    background-color: #cccccc;
}

/*---SEARCH------------------------------------*/
.button.button-stable {
    border-top: solid lightgrey 1px;
    border-bottom: solid lightgrey 1px;
    margin: -1px 0 -1px 0;

}
