/* Empty. Add your own CSS if you like */
.tab-nav {
  height: 35px;
  background: rgb(33, 33, 33);
}

ion-tabs.tabs-color-active-positive .tab-item {
  color: rgb(135, 135, 135);
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated  {
  color: white;
  background: black;
}
.bar.bar-stable {
  background: #e5efc1 ; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( #a3d3c7, #39aea9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #a3d3c7, #39aea9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #a3d3c7, #39aea9); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #a3d3c7, #39aea9); /* Standard syntax (must be last) */
}
.bar.bar-stable .title {
  color: white;
  font-family: Diamonds;
  font-weight: bold;
}

.theme {
   background:  #39AEA9;
}

.button-clear.button-clear {
  color: white;
  font-weight: bold;
}
.bar {
  background: #e5efc1 ; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( #a3d3c7, #39aea9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #a3d3c7, #39aea9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #a3d3c7, #39aea9); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #a3d3c7, #39aea9); /* Standard syntax (must be last) */
}



/*ICONS-----------------*/
.tabs .tab-item .icon.icon-shopping-cart {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 85%;
  margin-top: 1.5px;
  background-image: url('../img/cart-icon-active.png');
  background-size:contain;
}

.tabs .tab-item .icon.icon-profile {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 85%;
  margin-top: 1.5px;
  background-image: url('../img/profile-icon-active.png');
  background-size:contain;
}
